@import 'assets/styles/variables.scss';

.insight {
  .row {
    display: flex;
    margin: 20px 0;

    &:first-child {
      margin-top: 0;
    }

    > * {
      flex: 1 0 10%;
      margin: 0 10px;
      min-height: 220px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .infoCards {
      display: flex;
      justify-content: space-between;
      > * {
        flex: 1 0 40%;
        &:last-child {
          margin-left: 20px;
        }
      }
      .top {
        height: 100%;
        > div {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          height: 100%;
          color: $secondary-color;
          padding: 15px 20px;
          font-size: 14px;

          header {
            display: flex;
            justify-content: space-between;
            font-weight: 500;
          }

          .items {
            display: flex;
            justify-content: space-between;
            span:last-child {
              width: 100px;
              text-align: center;
              font-weight: 700;
            }
          }
        }
      }
    }
    .funnelSelect {
      width: 120px;
      font-size: 12px;
      font-weight: 500;
    }
    .funnelCard {
      position: relative;

      .extraRates {
        position: absolute;
        bottom: 10px;
        right: 5px;
        display: flex;

        > div {
          > :first-child {
            font-size: 16px;
            font-weight: bold;
            color: $secondary-color;
            margin-right: 10px;
          }

          > :last-child {
            font-size: 14px;
            color: $secondary-text;
          }
        }

        > :first-child {
          margin-right: 30px;
        }
      }
    }
  }
}
