$primary-color: #0065ff;
$secondary-color: #06142b;
$secondary-text: #7a869a;
$gray-color: #eff0f2;
$lightGray-color: #fafbfc;
$blueGray-color: #42526e;
$lightBlue-color: #00a3bf;
$green-color: #00875a;
$lightGreen-color: #36b37e;
$darkGreen-color: #006644;
$purple-color: #5243aa;
$yellow-color: #ff991f;
$red-color: #de350b;
$pink-color: #f83057;
$navyBlue-color: #344563;
